<div class="footbar">
  <div class="container-fluid">
    <div class="item item-home">
      <%= link_to "/", class: "nav-link" do %>
        <%= image_tag "icons/btn Homefill.svg", style: "width: 38px" %>
      <% end %>
    </div>

    <div class="item item-wishlist">
      <%= link_to wishlist_path(current_user.wishlist), class: "nav-link" do %>
        <%= image_tag "icons/btn Favoritefill.svg", style: "width: 38px" %>
      <% end %>
    </div>

    <div class="item item-addnew">
      <%= link_to "/products/new", class: "nav-link" do %>
        <%= image_tag "icons/btn Addsquarefill.svg", style: "width: 38px" %>
      <% end %>
    </div>

    <div class="item item-dashboard">
      <%= link_to "/dashboard", class: "nav-link" do %>
        <%= image_tag "icons/btn dashboardfill.svg", style: "width: 38px" %>
      <% end %>
    </div>

    <div class="item item-profile">
      <%= link_to my_profile_path, class: "nav-link" do %>
        <%= image_tag "icons/btn Userfill1.svg", style: "width: 38px" %>
      <% end %>
    </div>
  </div>
</div>
