<div class="footbar">

  <div class="container-fluid">

      <div class="item item-home">
          <%= image_tag "icons/btn categories.svg", style: "width: 36px" %>
          <%= link_to "home", "/", class: "nav-link" %>
      </div>

      <div class="item item-wishlist">
      <%= image_tag "icons/btn home.svg", style: "width: 36px" %>
          <%= link_to "wishlist", wishlist_path(@wishlist), class: "nav-link" %>
      </div>

      <div class="item item-addnew">
      <%= image_tag "icons/btn add.svg", style: "width: 36px" %>
          <%= link_to "add new", "/products/new", class: "nav-link" %>
      </div>

      <div class="item item-dashboard">
      <%= image_tag "icons/btn dashboard.svg", style: "width: 36px" %>
          <%= link_to "dashboard", "/dashboard", class: "nav-link" %>
      </div>

        <div class="item item-profile">
          <%= image_tag "icons/btn profile.svg", style: "width: 36px" %>
        <%= link_to "profile", my_profile_path, class: "nav-link" %>
        </div>

    </div>
</div>
