<%= if offer.status&.capitalize == "pending" %>
  <% @received_offers.each do |offer| %>
    <% next if offer.products.empty? %>
    <% their_product = offer.products.first.title %>
    <% counter_offer_product = offer.products.second&.title %>
    <% other_user = User.find(offer.user_receiver_id) %>
    <div>
      <h2><%= other_user.first_name %> wants your <%= counter_offer_product %></h2>
      <h3>Do you want something from <%= other_user.first_name %>´s <%= their_product %> ?</h3>
      <h3>Status: <%= offer.status&.capitalize %></h3>
    </div>
  <% end %>
<% end %>
