<div class="container-full">
  <div>
    <img src="<%= current_user.avatar %>" alt="Profile Picture" class="profile-picture">
  </div>
  <div class="container-greetings-message">
    <h4>Your Dashboard</h4>
  </div>
  <h1>Hello, <%= current_user.first_name %></h1>
</div>

<div class="button-container">
  <div class="Receivedoffer-product-container">
    <% if @received_offers.present? %>
      <%= link_to "Received offers", dashboard_received_path, class: "button" %>
      <% @received_offers.each do |product| %>
        <div class="Receivedoffer-product-card">


            <% if offer.products %>
              <% offer.products.each do |product| %>
                <div class="Receivedoffer-product-image">
                  <%= cl_image_tag product.photo.key, class: 'product-image img-fluid' %>
          </div>
          <div class="Receivedoffer-product-info">
            <div class="product-title-container">
              <p class="Receivedoffer-product-title"><%= truncate(product.title, length: 30, omission: "...") %></span>
            </div>

            <div class="product-description-container">
              <span class="Receivedoffer-product-description"><%= truncate(product.description, length: 80, omission: "...") %></span>
            </div>
          </div>
        <% end %>
        </div>
        <% end %>
      <% end %>
    <% else %>
      <p>No received offers found</p>
    <% end %>
    </div>
  </div>

<div class="button-container">
  <%= link_to "Sent offers", dashboard_sent_path, class: "button" %>
  <div class="Sentoffer-product-container">
    <% if @sent_offers.present? %>
      <% @sent_offers.each do |offer| %>
        <div class="Sentoffer-product-card">

            <% if offer.products %>
              <% offer.products.each do |product| %>
                <div class="Sentoffer-product-image">
                      <%= cl_image_tag product.photo.key, class: 'product-image img-fluid' %>
                </div>
                <div class="Sentoffer-product-info">
                  <div class="product-title-container">
                    <p class="Sentoffer-product-title"><%= truncate(product.title, length: 30, omission: "...") %></p>
                  </div>

                  <div class="product-description-container">
                    <span class="Sentoffer-product-description"><%= truncate(product.description, length: 80, omission: "...") %></span>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
    <% else %>
      <p>No sent offers found</p>
    <% end %>
  </div>
</div>


      <div class="container-message">
          <h1>Keep Circulating! </h1>
      </div>


<%= link_to products_path, class: 'btn btn-link' do %>
  <svg class="close-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
    <defs>
      <style>
        .cls-1 {
          fill: #000;
          stroke-width: 0px;
        }

        .cls-2 {
          fill: none;
          stroke: #000;
          stroke-linecap: round;
          stroke-miterlimit: 10;
          stroke-width: 2px;
        }
      </style>
    </defs>
    <g id="Layer_1-2" data-name="Layer 1">
      <g id="nav-bar">
        <g id="btn_edit" data-name="btn edit">
          <path class="cls-1" d="M20,2c9.93,0,18,8.07,18,18s-8.07,18-18,18S2,29.93,2,20,10.07,2,20,2M20,0C8.95,0,0,8.95,0,20s8.95,20,20,20,20-8.95,20-20S31.05,0,20,0h0Z"/>
          <line class="cls-2" x1="11.36" y1="11.37" x2="28.44" y2="28.57"/>
          <line class="cls-2" x1="28.5" y1="11.43" x2="11.3" y2="28.51"/>
        </g>
      </g>
    </g>
  </svg>
<% end %>

