<% @received_offers.each do |offer| %>
  <% offer.products.each do |product| %>
  <% other_user = User.find(offer.user_sender_id) %>
  <h2>Congratulations! <%= other_user.first_name %> wants your <%= product.title %></h2>
   <div class="product-image-container">
     <%= cl_image_tag product.photo.key, class: 'product-image img-fluid' %>
     </div>
  <h3>Is some of <%= other_user.first_name %>´s items interesting for you? Choose and exchange!</h3>
<form action="offer/createCounterOffer" method="post" class="form-offer">
  <input type="hidden" name="offer[my_product]" value="<%= product.id %>">
  <input type="hidden" name="offer[offer_id]" value="<%= offer.id %>">

  <div class="container-radio">
    <ul>
      <% other_user.products.each do |product| %>
        <li>
          <input type="radio" id="product_<%= product.id %>" name="offer[their_product]" value="<%= product.id %>">
          <label for="product_<%= product.id %>"><%= product.title %></label>
             <div class="product-image-container">
     <%= cl_image_tag product.photo.key, class: 'product-image img-fluid' %>
     </div>
        </li>
      <% end %>
    </ul>
  </div>

  <button type="submit">Make an offer</button>
  <%= link_to "Decline", declined_path(offer), data: {"turbo-method": :patch}, class: "button" %>
</form>


  <% end %>
<% end %>


<%# <div class=“container-checkbox”>
    <span class=“close”>&times;</span>
    <h2>your own Items</h2>
    <ul>
        <li><input type=“checkbox” id=“item1"> <label for=“item1”>item 1</label></li>
        <li><input type=“checkbox” id=“item2”> <label for=“item2">item 2</label></li>
        <li><input type=“checkbox” id=“item3"> <label for=“item3”>item 3</label></li>
    </ul>
</div>
<div class=“button-container”>
    <button onclick=“confirmSelection()“>Comfirm</button>
    <button onclick=“cancelSelection()“>Reject</button>
</div>
</div> %>
