<div class="sent-container">
<h2>Hi <%= current_user.first_name %>!</h2>

</div>
<div class="sent-offer-container">

<% @my_offers.each do |offer| %>
<% next if offer.status != "pending" %>
  <% receiver = User.find(offer.user_receiver_id) %>
  <% their_product = offer.products.first.title %>
  <% counter_offer_product = offer.products.second&.title %>
  <div class="card">
    <p> You are interested in <%= receiver.first_name.pluralize %>  <%= their_product %></p>

      <% if counter_offer_product %>
        <p>They want your <%= counter_offer_product %></p>
          <%= link_to "Accept", accepted_path(offer), data: {"turbo-method": :patch}, class: "button" %>
          <%= link_to "Decline", declined_path(offer),data: {"turbo-method": :patch}, class: "button" %>
      <% end %>
  </div>
<% end %>
  
<div class="container-checkbox">
    <span class="close">&times;</span>
    <h2>your own Items</h2>
    <ul>
        <li><input type="checkbox" id="item1"> <label for="item1">item 1</label></li>
        <li><input type="checkbox" id="item2"> <label for="item2">item 2</label></li>
        <li><input type="checkbox" id="item3"> <label for="item3">item 3</label></li>
    </ul>
</div>
<div class="button-container">

    <button onclick="confirmSelection()">Comfirm</button>
    <button onclick="cancelSelection()">Reject</button>
</div>

</div>

<%= link_to products_path, class: 'btn btn-link' do %>
  <svg class="close-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
    
    <defs>
      
      <style>
        .cls-1 {
          fill: #000;
          stroke-width: 0px;
        }

        .cls-2 {
          fill: none;
          stroke: #000;
          stroke-linecap: round;
          stroke-miterlimit: 10;
          stroke-width: 2px;
        }
        
      </style>
      
    </defs>
    
    <g id="Layer_1-2" data-name="Layer 1">
      <g id="nav-bar">
        <g id="btn_edit" data-name="btn edit">
          <path class="cls-1" d="M20,2c9.93,0,18,8.07,18,18s-8.07,18-18,18S2,29.93,2,20,10.07,2,20,2M20,0C8.95,0,0,8.95,0,20s8.95,20,20,20,20-8.95,20-20S31.05,0,20,0h0Z"/>
          <line class="cls-2" x1="11.36" y1="11.37" x2="28.44" y2="28.57"/>
          <line class="cls-2" x1="28.5" y1="11.43" x2="11.3" y2="28.51"/>
        </g>
      </g>
    </g>
  </svg>
<% end %>
