<div class="container-full">
  <div class="container-greetings">
    <h1>Hello, <%= current_user.first_name %></h1>
    <div class="container-greetings-message">
      <h4>Your wishlist</h4>
    </div>
  </div>
  <div class="wishlist-container">
    <% @wishlist.products.each do |product| %>
      <div class="wishlist-card">
        <div class="wishlist-product-image">
          <%= cl_image_tag product.photo.key, class: 'product-image img-fluid' %>
        </div>
        <div class="product-info">
          <div class="product-title-container">
            <span class="product-title"><%= truncate(product.title, length: 30, omission: "...") %></span>
          </div>
          <div class="product-description-container">
            <span class="product-description"><%= truncate(product.description, length: 80, omission: "...") %></span>
          </div>
          <div class="product-actions">
            <div class="wishlist-send-and-offer-button">
              <%= link_to "Offer", product_offers_path(product), data: {turbo_method: :post}, class: "user-button" %>
            </div>
            <div class="delete-button">
              <% product_wishlist = current_user.wishlist.product_wishlists.find_by(product_id: product.id) %>
              <%= link_to image_tag("icons/btn Trash.svg", style: "width: 25px"), product_wishlist_path(product_wishlist.id), style: "width:100px", data: {turbo_method: :delete, turbo_confirm: "Sure?"} %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= link_to products_path, class: 'btn btn-link' do %>
  <svg class="close-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
    <defs>
      <style>
        .cls-1 {
          fill: #000;
          stroke-width: 0px;
        }

        .cls-2 {
          fill: none;
          stroke: #000;
          stroke-linecap: round;
          stroke-miterlimit: 10;
          stroke-width: 2px;
        }
      </style>
    </defs>
    <g id="Layer_1-2" data-name="Layer 1">
      <g id="nav-bar">
        <g id="btn_edit" data-name="btn edit">
          <path class="cls-1" d="M20,2c9.93,0,18,8.07,18,18s-8.07,18-18,18S2,29.93,2,20,10.07,2,20,2M20,0C8.95,0,0,8.95,0,20s8.95,20,20,20,20-8.95,20-20S31.05,0,20,0h0Z"/>
          <line class="cls-2" x1="11.36" y1="11.37" x2="28.44" y2="28.57"/>
          <line class="cls-2" x1="28.5" y1="11.43" x2="11.3" y2="28.51"/>
        </g>
      </g>
    </g>
  </svg>
<% end %>
