<div class="container-full">
  <div class="container-greetings">
    <h1> Hello, <%= current_user.first_name %></h1>
      <div class="container-greetings-message">
        <h4>Your wishlist</h4>
    </div>
  </div>


    <div class="product-container">
    <% @wishlist.products.each do |product|  %>
      <h3><%= product.title %></h3>
      <%# <%= link_to "Delete", product_wishlist_path(product, wishlist_id: @wishlist.id), style: "width:100px", class:"btn btn-info", data: {turbo_method: :delete, turbo_confirm: "Sure?"}%>
       <%= link_to image_tag("icons/btn Trash.svg", style: "width: 25px"),product_wishlist_path(product, wishlist_id: @wishlist.id), style: "width:100px", data: {turbo_method: :delete, turbo_confirm: "Sure?"}%>
      <% end %>
  </div>

  <div class="container">
    <button type="button" class="btn btn-primary">Confirm</button>
      <%= link_to 'Back', dashboard_path %>
      <div class="button-container">

    <button onclick="confirmSelection()">Send an offer</button>
    <button onclick="cancelSelection()">Back</button>
</div>
  </div>
  </div>
