<div class="container-full">
  <div class="container-greetings">
    <h1>Hello, <%= current_user.first_name %></h1>
    <div class="container-greetings-message">
      <h4>Ready to circle today?</h4>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Categories
    </button>
    <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
      <% @categories.each do |category| %>
        <li><%= link_to category.name, products_path(category: category.id), class: "dropdown-item" %></li>
      <% end %>
    </ul>
  </div>
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% if @products.empty? %>
        <div class="carousel-item active">
          <p>No products yet!</p>
        </div>
      <% else %>
        <% @products.each_with_index do |product, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <div class="container-white position-relative">
              <%= link_to product_product_wishlists_path(product), data: { turbo_method: :post }, class: 'favorite-btn' do %>
                <%= image_tag 'icons/heart_icon_gray.png', alt: 'Add to favorite', class: 'favorite-icon' %>
              <% end %>
              <div class="product-image-container">
                <% if product.photo.key.present? %>
                  <%= cl_image_tag product.photo.key, class: 'product-image img-fluid' %>
                <% else %>
                  <%= image_tag "default_product.jpg", class: 'product-image img-fluid' %>
                <% end %>
              </div>
              <div class="product-title-container">
                <span class="product-title"><%= truncate(product.title, length: 30, omission: "...") %></span>
              </div>
              <div class="product-description-container">
                <span class="product-description"><%= truncate(product.description, length: 80, omission: "...") %></span>
              </div>
              <div class="send-offer-button-container">
                <%# <a href="/dashboard" class="user-button">Send an Offer</a> %>
                 <%= link_to "Send Offer", product_offers_path(product), data: {"turbo-method": :post}, class: "send-offer-button-container" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <%# <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span> %>
</button>
</div>
