<div class="container-full">

  <div class="container-greetings">
    <img src="<%= current_user.avatar %>" alt="Profile Picture" class="profile-picture">
    <h1>Hello, <%= current_user.first_name %></h1>
    <div class="container-greetings-message">
      <h4>Ready to circle today?</h4>
    </div>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Categories
    </button>
    <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
      <% @categories.each do |category| %>
        <li><%= link_to category.name, products_path(category: category.id), class: "dropdown-item" %></li>
      <% end %>
    </ul>
  </div>

  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% if @products.empty? %>
        <div class="carousel-item active">
          <p>No products yet!</p>
        </div>
      <% else %>

        <!-- Inside products/index.html.erb -->
   <% @products.each_with_index do |product, index| %>
  <div class="carousel-item <%= 'active' if index == 0 %>">
    <div data-controller="sendoffer" data-sendoffer-id-value="<%= product.id %>" class="container-white position-relative">
      <% if current_user.wishlist.products.include?(product) %>
        <% product_wishlist = current_user.wishlist.product_wishlists.find_by(product_id: product.id) %>
        <%= turbo_frame_tag "wishlist_#{product.id}" do %>
          <%= link_to unheart_wishlist_product_path(product_wishlist.id), data: { turbo_method: :delete }, class: 'favorite-btn' do %>
            <%= image_tag 'heart_icon_red', class: 'red-favorite-btn' %>
          <% end %>
        <% end %>
      <% else %>
        <%= turbo_frame_tag "wishlist_#{product.id}" do %>
          <%= link_to product_product_wishlists_path(product.id), data: { turbo_method: :post }, class: 'favorite-btn' do %>
            <%= image_tag 'heart_icon_gray', alt: 'Add to favorite', class: 'favorite-icon' %>
          <% end %>
        <% end %>
      <% end %>

              <div class="product-image-container">
                <%= link_to product_path(product) do %>
                  <% if product.photo.key.present? %>
                    <%= cl_image_tag product.photo.key, class: 'product-image img-fluid' %>
                  <% else %>
                    <%= image_tag "default_product.jpg", class: 'product-image img-fluid' %>
                  <% end %>
                <% end %>
              </div>
              <div class="product-title-container">
                <%= link_to product_path(product) do %>
                  <span class="product-title"><%= truncate(product.title, length: 30, omission: "...") %></span>
                <% end %>
              </div>
              <div class="product-description-container">
                <%= link_to product_path(product) do %>
                  <span class="product-description"><%= truncate(product.description, length: 80, omission: "...") %></span>
                <% end %>
              </div>

              <div class="send-offer-button-container">
                <button class="sendoffer" data-action="click->sendoffer#send">Send Offer</button>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
