<div class="container-full">
  <div class="container-greetings">
    <h1>Hello, <%= current_user.first_name %></h1>
    <div class="container-greetings-message">
      <h4>Ready to circle today?</h4>
    </div>
  </div>

  <div class="dropdown-container">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle category-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Categories
      </button>
      <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
        <% @categories.each do |category| %>
          <li><%= link_to category.name, products_path(category: category.id), class: "dropdown-item" %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="carousel-container">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <% if @products.empty? %>
          <div class="carousel-item active">
            <p>No products yet!</p>
          </div>
        <% else %>
          <% @products.each_with_index do |product, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <div class="container-white">
                <h1><%= product.title %></h1>
                <% if product.photo.key.present? %>
                  <%= cl_image_tag product.photo.key, class: 'product-image' %>
                <% else %>
                  <%= image_tag "default_product.jpg" %>
                <% end %>
                <div class="favorite-icon-container">
                <%= link_to "#" do %>
                  <%= link_to image_tag("icons/btn Favorite.svg", style: "width: 36px"), "#" %>
                <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" onclick="customPrev()">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" onclick="customNext()">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<div class="send-offer-button-container">
  <a href="/dashboard" class="user-button">Send an Offer</a>
</div>
