<h1>new item upload</h1>
<%= simple_form_for(@product) do |f| %>
  <%= f.input :title %>
  <%= f.association :category, prompt: "Select a category" %>
  <%= f.input :description %>
  <%= f.input :condition %>
  <%= f.input :price %>
  <%= f.submit %>
<% end %>
