<div class="container-full mb-5">
  <div class="product-details">
    <div class="picstogether"> 
      <%= image_tag @product.user.avatar, height: 72, width: 72,  crop: :fill, class: "profile-pic m-3" %>
      <%= cl_image_tag @product.photo.key, height: 300, width: 300, crop: :fill, class:"show-pic", style: "border-radius: 20px;"%>
    </div>

    <h1 class="mt-3"><strong><%= @product.title %></strong></h1>

    <p><strong>Owner:</strong><br>
      <%= @product.user.first_name %></p>
    <p><strong>Category:</strong><br>
      <%= @product.category.name %></p>
    <p><strong>Description:</strong><br>
      <%= truncate(@product.description, length: 170, omission: '...') %></p>
    <p><strong>Condition:</strong><br>
      <%= @product.condition %></p>
    <p><strong>Price:</strong><br>
      <%= number_to_currency(@product.price, unit: "€", precision: 0) %> ~ <%= number_to_currency(@product.price, unit: "€", precision: 0) %></p>

    <div class="product-actions">
      <%= link_to 'Back to Products', products_path, class: 'btn btn-link' %>
    </div>

  <%= link_to products_path, class: 'btn btn-link' do %>
    <svg class="close-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
      <defs>
        <style>
          .cls-1 {
            fill: #000;
            stroke-width: 0px;
          }

          .cls-2 {
            fill: none;
            stroke: #000;
            stroke-linecap: round;
            stroke-miterlimit: 10;
            stroke-width: 2px;
          }
        </style>
      </defs>
      <g id="Layer_1-2" data-name="Layer 1">
        <g id="nav-bar">
          <g id="btn_edit" data-name="btn edit">
            <path class="cls-1" d="M20,2c9.93,0,18,8.07,18,18s-8.07,18-18,18S2,29.93,2,20,10.07,2,20,2M20,0C8.95,0,0,8.95,0,20s8.95,20,20,20,20-8.95,20-20S31.05,0,20,0h0Z"/>
            <line class="cls-2" x1="11.36" y1="11.37" x2="28.44" y2="28.57"/>
            <line class="cls-2" x1="28.5" y1="11.43" x2="11.3" y2="28.51"/>
          </g>
        </g>
      </g>
    </svg>
  </div>
  <% end %>
</div>
