<div class="fixed-top-container">
  <div >
    <%= link_to '⬅️ Back', 'javascript:history.back()' , class: "back-button"%>
  </div>
</div>
<div class="container-full">
  <div class="product-details">
    <div>
      <% if current_user.wishlist.products.include?(@product) %>
        <% product_wishlist = current_user.wishlist.product_wishlists.find_by(product_id: @product.id) %>
        <%= link_to unheart_wishlist_product_path(product_wishlist.id), data: { turbo_method: :delete }, class: 'favorite-btn' do %>
          <%= image_tag 'heart_icon_red', class: 'red-favorite-btn' %>
        <% end %>
      <% else %>
        <%= link_to product_product_wishlists_path(@product.id), data: { turbo_method: :post }, class: 'favorite-btn' do %>
          <%= image_tag 'heart_icon_gray', alt: 'Add to favorite', class: 'favorite-icon' %>
        <% end %>
      <% end %>
    </div>
    <% if @product.photo.attached? %>
      <div class="product-image">
        <%= cl_image_tag @product.photo.key, height: 300, width: 400, crop: :fill, class: "img-fluid rounded shadow" %>
      </div>
    <% end %>
    <div class="product-info">
      <h1 class="display-4"><%= @product.title %></h1>
      <p class="lead"><strong class="product-label">Category:</strong> <%= @product.category.name %></p>
      <p class="lead"><strong class="product-label">Description:</strong></p>
      <p><%= @product.description %></p>
      <p class="lead"><strong class="product-label">Condition:</strong> <%= @product.condition %></p>
      <p class="lead"><strong class="product-label">Price:</strong> <%= number_to_currency(@product.price, unit: "€", precision: 0) %></p>
    </div>
    <div class="product-actions mt-4">
      <%# <button class="btn btn-primary mr-2">Send an Offer</button> %>
      <div>
        <%= link_to "Send an offer", product_offers_path(@product), data: {turbo_method: :post}, class: "user-button" %>
      </div>
    </div>
  </div>
</div>
