<!DOCTYPE html>
<html>
  <head>
    <title>Circular</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <style>
    html {
      height: 100%;
    }

    body {
      background: linear-gradient(168deg, #80F2D7 50%, #348972 100%);
      display: flex;
      flex-direction: column;
    }
  </style>
      <body>
    <%= render "shared/flashes" %>

    <%= yield %>

    <%= render "shared/footbar" %>
  </body>
</html>
